@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;500;700&display=swap');
:root {
    --primary-color: hsl(233, 54%, 16%);
    --text-color: hsl(232, 10%, 56%);
    --white-color: hsl(0, 0%, 100%);
    --primary-bg-color: linear-gradient(to bottom, hsl(13, 100%, 64%), hsl(322, 87%, 55%));
    --primary-btn-hover-color: hsl(234, 25%, 52%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 1.6rem;
    overflow-x: hidden;
}

a {
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
}

/* Utilities */
.btn {
    font-size: 1.7rem;
    padding: 1rem 2.4rem;
    border-radius: 5rem;
}

.btn-primary {
    background-color: var(--primary-color);
    transition: all 200ms;
}

.btn-primary:hover {
    background-color: var(--primary-btn-hover-color);
}

.btn-gradient {
    background: var(--primary-bg-color);
    padding: 1.5rem 3.8rem;
    transition: opacity 200ms;
}

.btn-gradient:hover {
    opacity: 0.5;
}

/* Header Section */
.hero-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.8rem;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2.6rem;
}

.hero-content p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 2.4rem;
}

.hero-content a {
    display: inline-block;
    margin-bottom: 4rem;
}

.hero-image {
    width: 100%;
    text-align: center;
    /* height: 10rem; */
    
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Tablets section */
@media only screen and (min-width: 768px) {
    body {
        padding: 2.4rem 4rem;
        overflow-x: hidden;
    }
    
    .hero {
        display: flex;
        justify-content: space-between;
    }

    .hero-content {
        max-width: 40rem;
        margin-bottom: 18.6rem;
    }

    .hero-image {
        width: 64rem;
        transform: translate(17rem, -5rem)
        /* height: 64rem; */
        /* bottom: 20rem; */
    }

    .hero-image img {
        max-width: 100%;
        max-height: 100%;
        transform: scale(2);
    }

    .hero-nav {
        margin-bottom:10rem;
    }
    
}

@media only screen and (min-width: 950px) {
    body {
        padding: 2.4rem 16.5rem;
    }

    .hero-content {
        border: 1px solid cyan;
        max-width: 46rem;
    }

    .hero-image {
        width: 99.5rem;
        border: 2px solid brown;
    }

    .hero-image img {
        transform: scale(1);
        object-fit: cover;
    }
}

/* For larger screens */
@media only screen and (min-width: 1000px) {
    body {
        padding: 2.4rem 16.5rem;
    }

    .hero-image-tablet {
        display: none;
    }

    .hero-image-desktop {
        display: block;
        /* transform: scale(3) translate(4rem); */
    }

    
}
